# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.log

# C compilation artifacts
bin/*.exe
bin/*.o
*.o
*.obj

# Environment & IDE
.env
.venv
venv/
ENV/
.vscode/
.idea/

# OS specific
Thumbs.db
Desktop.ini
.DS_Store
